 {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.618em;
    max-height: 80%;
    max-width: 80%;
    text-align: center;
}
.container {
    margin: 0 auto;
    max-width: 94.5%;
}

body {
    margin: 1em auto;
    max-width: 80%;
    width: 80%;
}

.intro {
    position: relative;
    top: -10px;
    background: rgba(206,193,231, .2);
}

.profiles {
    display: grid;
    margin: 2rem auto;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    padding: 0 100px;
}

.profile img {
    border: solid #2E8BC0;
    border-radius: 50%;
    border-image-width: 15px 40px;
    max-width: 200px;
    box-shadow: 5px 10px #888888;
}

h1 {
    font-size:3em;
    margin: .3em 0 .2em 0;
    text-shadow: .02em .02em #fff;
}

.intro-text {
    font-size: 1.5em;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
    text-align: left;
}

h2 {
    font-size: 1.5em;
    text-shadow: 1px 1px #404040;
}

.profile-text {
    font-size: 1em;
    text-align: left;
    color: white;
    margin: 1em;
    text-shadow: .09em .09em #000000;
}

.profile {
    background: rgba(0,0,0, .2);
}

#italics {
    font-style: italic;
}