* {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.618em;
    max-height: 80%;
    max-width: 80%;
    text-align: center;
}

.container {
    margin: 1rem auto;
    max-width: 60%;
    width: 90%;
}

body {
    margin: 1em auto;
    max-width: 60%;
    width: 90%;
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
}

footer {
    background-color: white;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 0;
}

main img:hover {
    border: 3px solid blue;
    transition: .5s;
    transform: scale(2);
}
