* {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.618em;
    max-height: 80%;
    max-width: 80%;
    text-align: center;
}

.container {
    margin: 1rem auto;
    max-width: 60%;
    width: 90%;
}

body {
    margin: 1em auto;
    max-width: 80%;
    width: 80%;
}
