<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World Trekking - Single Trek</title>
</head>
<body>


<div th:replace="header :: header"></div>
<div class="intro">
    <main>
        <div th:each="continent: ${continentModel}">
            <h1 th:text="${continentModel.title}"></h1>
        </div>

        <div th:each="trek: ${trekModel}">
            <h2>
                <a th:href="@{/trek(id=${trek.id})}" th:text="${trek.title}"></a></h2>
            <img th:src="${trek.imageUrl}">
        </div>
    </main>
</div>
</body>
<div th:replace="footer :: footer"></div>
</html>

