<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World Trekking - Continents</title>
    <link rel="stylesheet" type="text/css" href="./css/continentStyle.css">
</head>
<body>
<embed src="/music/serene.mp3" autostart="true" loop="true" hidden="true">
<div class="container">
    <header>
        <div class="container">
            <header class="header">
                <button id="home"><a th:href="mainpage">Home</a></button>
                <button id="continent"><a th:href="continent">Continent</a></button>
                <button id="region"><a th:href="region">Region</a></button>
                <button id="trek"><a th:href="trek">Trek</a></button>
                <button id="difficulty"><a th:href="difficulty">Difficulty</a></button>
                <button id="addTrek">Create a Trek</button>
            </header>
        </div>
        <div class="title-image"><img class="title" src="images/title.jpg"></div>
            <div class="intro">
        Most Iconic Treks by Continent.
        <p>Deciding the best trekking and most iconic treks by continents can be difficult and time consuming. Let us
        help you narrow down your choices on the treks by continents. We have check them out ourselves and would love
        you to follow us and be inspired to put your boots on in joining us on the trail.</p>
            </div>
    </header>

        <main>
            <div th:each="continent: ${continentModel}">
                <a th:href="@{/continent(id=${continent.id})}">
                    <img th:src="${continent.imageUrl}"></a>
                <p th:text="${continent.title}"></p>
            </div>
        </main>
</div>

<footer>
    <small>&copy World Trekking 2021</small>
</footer>

</body>
</html>