<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World Trekking - Difficulty</title>
    <link rel="stylesheet" type="text/css" href="./css/difficultyStyle.css">
</head>

<body>
    <div th:replace="header :: header"></div>
    <div class="container">
        <main>
            <div th:each="difficulty: ${difficultyModel}">
                <h1 th:text="${difficultyModel.title}"></h1>
            </div>

            <div th:each="trek: ${trekModel}">
                <h2>
                    <a th:href="@{/trek(id=${trek.id})}" th:text="${trek.title}"></a></h2>
                    <a th:href="@{/trek(id=${trek.id})}"><img th:src="${trek.imageUrl}"></a>

            </div>
        </main>
    </div>


</body>
<div th:replace="footer :: footer"></div>
</html>