<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
</body>
<div th:fragment="footer">
    <footer>
        <body background="images/mountains.jpg">
        <div class="footer">

            <img class="image-footer" src="images/mountains.png" alt="mountains">
            <div class="bottom-centered">
                <small>&copy World Trekking 2021 | Web design by the coolest Team 2 of WCCI students </small>
            </div>
        </div>
        </body>
    </footer>
</div>
</html>