<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" type="text/css" href="./css/headerStyle.css">

    <nav id="navMenu">
        <button id="home"><a th:href="mainpage">Home</a></button>
        <button id="continents"><a th:href="continent">Continent</a></button>
        <button id="regions"><a th:href="regions">Region</a></button>
        <button id="treks"><a th:href="treks">Trek</a></button>
        <button id="difficulties"><a th:href="difficulty">Difficulty</a></button>
        <button id="addTrek"><a th:href="add-trek">Create A Trek</a></button>
        <button id="aboutUs"><a th:href="about">About Us</a></button>
    </nav>

    <img class="title" src="images/title.jpg">


</div>

</body>
</html>