<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/regionStyle.css">
    <title>World Trekking - Single Region</title>

</head>

<body>
<div th:replace="header :: header"></div>
<div class="intro">
    <main>
        <div th:each="continent: ${continentModel}">
            <a th:href="@{/continent(id=${continent.id})}">
                <img th:src="${continent.imageUrl}"></a>
            <p th:text="${continentModel.title}"></p>
        </div>
        <div th:each="region: ${regionModel}">
            <a th:href="@{/region(id=${region.id})}">
                <img th:src="${region.imageUrl}"></a>
            <p th:text="${region.title}"></p>
        </div>
    </main>

</div>
</body>
<div th:replace="footer :: footer"></div>
</html>