<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World Trekking - Regions</title>
    <link rel="stylesheet" type="text/css" href="./css/continentStyle.css">
</head>
<body>
<div class="container">
    <header>
        <div class="container">
            <header class="header">
                <button id="home"><a th:href="world">Home</a></button>
                <button id="continent"><a th:href="continent">Continent</a></button>
                <button id="region"><a th:href="region">Region</a></button>
                <button id="trek"><a th:href="trek">Trek</a></button>
                <button id="addTrek">Create a Trek</button>
            </header>
        </div>
            <div class="intro">
                Most Iconic Treks by Regions.
                <p>Regions paragraph here</p>
            </div>
    </header>

                <main>
                    <div th:each="region: ${regionModel}">
                        <a th:href="@{/region(id=${region.id})}">
                            <img th:src="${region.imageUrl}"></a>
                        <p th:text="${region.title}"></p>
                    </div>
                </main>
            </div>
</div>

            <footer>
                <small>&copy World Trekking 2021</small>
            </footer>

</body>
</html>