<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World Trekking - Treks</title>
    <style>
        #image{
        width: 75%;
        height: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <header>
        Your Trek Starts Here!
    </header>

    <main>
        <div th:each="trek: ${trekModel}">
            <a th:href="@{/trek(id=${trek.id})}">
                <img id="image" th:src="${trek.imageUrl}"></a>
            <p th:text="${trek.title}"></p>
        </div>
    </main>
</div>

</body>
</html>