<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>World Trekking</title>
    <link rel="stylesheet" type="text/css" href="./css/worldStyle.css">
</head>

<body>
<div class="container">
    <header>
        <h1><img src="\title.jpg"></h1>
        <p>Discover your awaiting trekking adventure tour from a local day trek tour, a weekend trek trip, or your
            next trekking bucket list vacation of a lifetime.  Whether you join as a solo traveler, with your family, or
            your closest trek buddies, you'll be greeted by like-minded trekking professional guides.
            Leave the planning to us so you can free yourself and enjoy the experience.</p>
    </header>

    <main>
        <div th:each="continent: ${continentModel}">
            <a th:href="@{/continent(id=${continent.id})}">
                <img th:src="${continent.imageUrl}"></a>
            <p th:text="${continent.title}"></p>
        </div>
        <div th:each="region: ${regionModel}">
            <a th:href="@{/region(id=${region.id})}">
                <img th:src="${region.imageUrl}"></a>
            <p th:text="${region.title}"></p>
        </div>
        <div th:each="trek: ${trekModel}">
            <a th:href="@{/trek(id=${trek.id})}">
                <img th:src="${trek.imageUrl}"></a>
            <p th:text="${trek.title}"></p>
        </div>
        <div th:each="difficulty: ${difficultyModel}">
            <a th:href="@{/difficulty(id=${difficulty.id})}">
                <img th:src="${difficulty.imageUrl}"></a>
            <p th:text="${difficulty.title}"></p>
        </div>
        <div th:each="about: ${aboutModel}">
            <a th:href="@{/about(id=${about.id})}">
                <img th:src="${about.imageUrl}"></a>
            <p th:text="${about.title}"></p>
        </div>
    </main>
</div>

<footer>
    <small>&copy World Trekking 2021</small>
</footer>

</body>
</html>